In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
%matplotlib inline
#https://www.kaggle.com/c/house-prices-advanced-regression-techniques

In [8]:
data_train = pd.read_csv("train (2).csv")
data_test = pd.read_csv("test (2).csv")
train_shape = data_train.shape[0]
test_shape = data_test.shape[0]
#%qtconsole

In [10]:
data = pd.concat([data_train , data_test])
#get train and test sets separately
def get_train_test(data):
    train = data.iloc[:train_shape,:]
    test = data.iloc[train_shape:,:]
    return train , test
data.shape

(2919, 81)

In [11]:
data.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,SaleType,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,856,854,0,NaN,3,1Fam,TA,No,706.0,0.0,...,WD,0,Pave,8,856.0,AllPub,0,2003,2003,2008
1,1262,0,0,NaN,3,1Fam,TA,Gd,978.0,0.0,...,WD,0,Pave,6,1262.0,AllPub,298,1976,1976,2007
2,920,866,0,NaN,3,1Fam,TA,Mn,486.0,0.0,...,WD,0,Pave,6,920.0,AllPub,0,2001,2002,2008
3,961,756,0,NaN,3,1Fam,Gd,No,216.0,0.0,...,WD,0,Pave,7,756.0,AllPub,0,1915,1970,2006
4,1145,1053,0,NaN,4,1Fam,TA,Av,655.0,0.0,...,WD,0,Pave,9,1145.0,AllPub,192,2000,2000,2008

In [12]:
NaNs = data.isnull().sum(axis=0)
#range for dropping columns which have too many missing values. 
drop_range = data.shape[0] / 3
NaNs[NaNs > drop_range]

Alley          2721
Fence          2348
FireplaceQu    1420
MiscFeature    2814
PoolQC         2909
SalePrice      1459
dtype: int64